h1
{

	color: chartreuse; 

	font-size: 40px;

}

.body_backgorund 
{

background-image: url("bg1.jpg");

background-position: center;

background-size: cover;

}

#myCanvas
{

	border-width: 10px;

	background-color: aquamarine;

	border-style: groove;

}

button
{

	background-color: aqua;

	font-family: 'Courier New', Courier, monospace;

	color: darkgoldenrod;

	font-weight: bold;
}